* {
    margin: 0;
    /*margem do site*/
    padding: 0;
    /*espasamento interno do site*/
}

body {
    background-image: url('https://img.freepik.com/vetores-gratis/fundo-futurista-de-tecnologia-gradiente_23-2149122416.jpg');

}


h1 {
    color: rgb(233, 227, 238);
    text-align: center;
    margin-right: 800px;
}

header {
    background-color: #708090;
    /* mundadndo a cor do menu do meu site*/
    margin: 0;
    color: white;
    /* Cor do texto */
    display: flex;
    /* Usando flexbox para layout */
    justify-content: space-between;
    /* Espaço entre logo e menu */
    align-items: center;
    /* Alinha verticalmente */
    padding: 10px;
    /* Espaçamento interno */


}

    
    header img {
        width: 60px;
        /* alterando a lagura da minha imagem*/
        border-radius: 5px;
        
    }
    
    nav ul {
        display: flex;
        /* tiro de coluna e passo para linha*/
        justify-content: center;
        /*centralizar o centro do menu*/
        list-style: none;
        /*tira os macadores da lista não ordenadas*/
    }
    
    header nav ul li {
        margin: 15px;
        /* altera o tipo de cor do menu*/
        
    }
    
    a{
        color: #eef0f0;
        gap: 10px;
        margin-top: 10px;
        padding: 5px;
    }
    
    a:hover {
        background-color: rgb(85, 129, 224);
        color: rgb(236, 228, 228);
        /* altera a cor da letra quando o mouse passa sobre o menu*/
        border-radius: 10px;
        /* arredonda as bordas do menu*/
    }
    
    
    #home {
        background-color: #4c7ce4;
        
        :hover {
            color: rgb(247, 244, 244);
        }
        
    }
    
    
    #Login {
        background-color: #59a3df;
        
        :hover {
            color: rgb(247, 244, 244);
        }
    }
    
    #Contato {
        background-color: #5a80ce;
        
        :hover {
            color: rgb(236, 230, 230);
        }
    }
    

   
form {
    max-width: 400px;
    background-color: rgb(228, 224, 220);
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    border: 3px solid #b7b3b2;
    min-width: 10px;
    height: 700px;
    margin-top: 100px;
}

input {
    font-size: 100px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px;
    border: 3px solid #bea19f;
    
    
}

input[type="radio"] {
    text-align: justify;
        width: 15px;
        height: 15px;
        accent-color: #c68be3;
        /* Altera a cor padrão do botão */
        cursor: pointer;
    }
    
    
    button{
        display: flex;
        width: 80%;
    }
    
    button[type="submit"] {
        background-color: #82ee57;
        /* Green */
        border: 3px solid #ced7cf;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-left: 80px;
        cursor: pointer;
        
    }
    
    #cadastro-cliente h1{
        font-size: 30px;
        color: #848b80;
        display: flex;
        width: 130%;
        padding: 10px;
        justify-content: center;
        
    }

    button[type="reset"] {
        background-color: #f35241;
        /* Green */
        border: 3px solid #ced7cf;
        color: white;
        padding: 10px 15px;
        /* text-align: center; */
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
        margin-left: 80px;
        cursor: pointer;
    }


    #princial-rodapé, footer {
            background-color: rgb(38, 53, 57);
            text-align: center;
            padding: 15px;
            position: relative;
            position: relative;
            top: 70px;

        }

        img {
            width: 60px;
            height: 60px;
            border-radius: 20px;
            margin-bottom: -10px;


        }


    p {
        text-align: center;
        color: rgb(234, 240, 234);
        font-family: 'Courier New', Courier, monospace;
    }

   
    div {
        text-align: left;
        max-width: 300px;
    }

    th {

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: right;

    }

    ul,li {
        list-style-type: none;
        font-style: 15px;
        display: flex;
        /* tiro de coluna e passo para linha*/
        justify-content: center;
        /*centralizar o centro do menu*/
        padding-left: 15px;
        color: rgb(172, 207, 237);

    }

     
    #princial-rodape {
        width: 100%;
        padding: 20px;
        color: white;
        display: flex;
        justify-content: space-around;
        margin: auto;
        flex-wrap: wrap;
        ;
    }
    .imagem-rodape img{
        width: 7px;
        height: auto;
        background-color: #708090 ;
    
    
    }
    
    .diretos-resevados, .imagem-rodape, .redes-sociais{
        max-width: 100px;
        margin-right: 100px;
    
    }
     



